@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    position: relative;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here */
    z-index: -1; /* Ensure the overlay is behind the content */
}